.Testimonials {
    padding: 240px 570px;
    color: black;
    align-items: center;
}

.testimonials_main>h2 {
    /* display: flex;
    flex-direction: column;
    gap: 86px;
    align-items: center; */
    position: relative;
    left: 313px;
    margin-bottom: 61px;
}

.testimonials_span {
    align-items: center;
    width: 770px;
    height: 232px;
    background: #F0F0F0;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Quotes1 {
    position: relative;
    bottom: 7px;
    right: 27px;
}

.main_text {
    width: 650px;
    text-align: center;
}

.Quotes2 {
    position: relative;
    left: 657px;
}

.testimonials_span2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


@media only screen and (max-width: 480px){
    .Testimonials {
        overflow: hidden;
        width: 100%;
        padding: 240px 0px;
    }
    .testimonials_main {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .testimonials_main>h2 {
        position: inherit;
    }
    .testimonials_span {
        width: 100%;
    }
    .main_text {
        width: 100%;
    }
    .Quotes2 {
        left: 287px;
    }
}



@media only screen and (max-width: 768px) and (min-width: 481px) {
    .Testimonials {
        overflow: hidden;
        width: 100%;
        padding: 240px 0px;
    }
    .testimonials_main {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .testimonials_main>h2 {
        position: inherit;
    }
    .testimonials_span {
        width: 100%;
    }
    .main_text {
        width: 100%;
    }
    .Quotes2 {
        left: 457px;
    }
}